@import url('https://fonts.googleapis.com/css?family=Girassol|Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
  background-color: #FFF59D;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

header {
  text-align: center;
  position: relative;
  font-weight: bold;
}

header h1 {
  font-size: 36px;
  animation: glow 2s infinite; /* Shining glow effect animation */
}

@keyframes glow {
  0% {
    text-shadow: 0 0 20px rgba(255, 215, 0, 0.8), 0 0 30px rgba(255, 215, 0, 0.6), 0 0 40px rgba(255, 215, 0, 0.4);
  }
  50% {
    text-shadow: 0 0 30px rgba(255, 215, 0, 0.6), 0 0 40px rgba(255, 215, 0, 0.4), 0 0 50px rgba(255, 215, 0, 0.2);
  }
  100% {
    text-shadow: 0 0 20px rgba(255, 215, 0, 0.8), 0 0 30px rgba(255, 215, 0, 0.6), 0 0 40px rgba(255, 215, 0, 0.4);
  }
}

.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 8px 60px -10px white;
  padding: 50px;
  padding-top: 30px;
  animation: tilt 6s alternate infinite;
}

@keyframes tilt {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  25% {
    transform: translate(-50%, -50%) rotate(2deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(-2deg);
  }
  75% {
    transform: translate(-50%, -50%) rotate(2deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

img {
  filter: opacity(100%);
  position: fixed;
  right: 10%;
  top: 16%;
  float: right;
  width: 210px;
  height: 320px;
}

#image {
  position: fixed;
  right: 10%;
  top: 16%;
  float: right;
  background-color: #FFF59D;
  width: 210px;
  height: 320px;
}

#quote-box {
  float: left;
  position: absolute;
  width: 270px;
  top: 27%;
  font-family: 'Playfair Display';
}

#button {
  position: absolute;
  top: 68%;
}

button {
  background-color: #FFF59D;
  border: none;
  color: #424242;
  padding: 15px 32px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  font-family: 'sans-serif';
}

.fa {
  font-size: 20px;
}

.fa-twitter {
  position: fixed;
  bottom: 9%;
  right: 9%;
  font-size: 20px;
  cursor: pointer;
  transform: scale(1.2);
}

.fa-twitter:hover {
  transform: scale(1.4);
}

#footer {
  text-align: center;
  font-size: 15px;
  color: #424242;
  font-family: 'Quicksand';
}

a {
  font-weight: 500;
  text-decoration: none;
  color: #3E2723;
}





